<h3>Cart</h3>
<div *ngIf="carts.length == 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <img src="assets/hungry-cat.jpg" width="250">
  <p>
    Your cart is empty! Make your choice!
  </p>
</ng-template>
<ng-template #elseBlock>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Photo</th>
      <th>Quantity</th>
      <th>Remove</th>
    </tr>
    <tr *ngFor="let cart of carts">
      <td>{{cart.id}}</td>
      <td>{{cart.product.name}}</td>
      <td>{{cart.product.price}}</td>
      <td>
        <img src="assets/{{cart.product.photo}}" width="50">
      </td>
      <td>{{cart.quantity}}</td>
      <td><button (click)="onRemove(cart.id)">Remove</button></td>
    </tr>
  </table>
  <h4>Total items in cart: {{getCartTotal()}}. Amount: {{getTotalAmount()}}UAH</h4>
  <button (click)="onConfirm()">Confirm</button>
</ng-template>
